:host {
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

#nav,
#content {
    border: 1px solid black;
}

#nav {
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 48px;
    height: 100px;
}


.nav-item {
    color: white;
    font-size: 26px;
    cursor:pointer;
}